body{
    align-items: center;
    font-size: xx-large;
}

button{
    cursor: pointer;
    margin: 10px;
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
}

#red-btn{
    background-color: red;
    color: white;
}

#green-btn{
    background-color: green;
    color: white;
}

#blue-btn{
    background-color: blue;
    color: white;
}

#status-btn{
    background-color: black;
    color: white;
}