PORT=3000
DOMAIN=http://localhost:3000/
CLIENT_URL=http://localhost:5173/
MONGO_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<db-name>
resend_api=<your-resend-api-key>
JWT_SECRET=<generate-a-random-secret>
JWT_EXPIRY=1h
NODE_ENV=development
